@import "../../styles/mixins";

.HomeWrapper {
  @include make-flex($just: flex-start);
  @include box($height: unset);
  min-height: 100%;
  background-color: #fdfdfd;

  &__main {
    @include box($height: unset);
    @include make-flex($just: flex-start);
    min-height: calc(100% - 84px);
  }

  &__hero {
    @include box($height: unset);
    max-width: 100ch;
    @include make-flex($align: flex-start);
    padding-top: 85px;
    gap: 16px;
    &--title {
      font-size: 1.875rem;
      line-height: 2.25rem;
      color: #292524;
    }

    &--desc {
      font-size: 17px;
      @include make-flex($align: flex-start);
      gap: 17px;
    }

   
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 174, 0);
  }
  25% {
    color: rgb(0, 255, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}
