@import "../../styles/mixins";

.FancyButton {
  @include box();
  background-color: var(--lightGray);
  @include make-flex();
  padding: 0 15px;
  text-decoration: none;
  border: none;
  border-radius: 3px;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--lightPurple);
  }
}
