@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

@font-face {
  font-family: "iAWriter";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/iAWriterQuattroV.ttf") format("truetype");
}
