.Article {
  margin-top: 66px;
  // min-height: calc(100vh - 66px - 70px - 69px);
  height: 100%;
  flex-grow: 1;

  @include respondAt(635px) {
    // min-height: calc(100vh - 115px - 70px - 106px - 50px);
  }

  & > article {
    @include box($height: unset);
    @include make-flex($align: flex-start);
    // gap: 16px;
  }
  & > h1 {
    color: var(--headingColor);
    @include box($height: auto);
    @include make-flex($align: flex-start);
    background-color: var(--backgroundColor);
  }
}
