.Article {
  margin-top: 66px;

  & > article {
    @include box($height: unset);
    @include make-flex($align: flex-start);
    // gap: 16px;
  }
  & > h1 {
    color: var(--headingColor);
    @include box($height: auto);
    @include make-flex($align: flex-start);
    background-color: var(--backgroundColor);
  }
}
