.Home {
  margin-top: 140px;
  & > section {
    @include box($height: unset);
    @include make-flex($align: flex-start);
    gap: 16px;

    & > h2 {
      color: var(--headingColor);
      @include box($height: auto);
      @include make-flex($align: flex-start);
      background-color: var(--backgroundColor);
    }
  }

  .HeroSection {
    &--title {
      font-size: 1.875rem;
      line-height: 2.25rem;
      color: var(--headingColor);
    }

    &--desc {
      @include make-flex($align: flex-start);
      gap: 17px;

      p {
        word-break: break-word;
        word-spacing: -0.05em;
        line-height: 22px;

        a {
          background-color: var(--highlightColor);
          padding: 0px 4px;
          border-radius: 4px;
          text-decoration: none;

          &:active,
          &:focus,
          &:hover {
            background-color: var(--lightPurple);
            color: var(--backgroundColor);
          }
        }
      }
    }

    &--actions {
      @include box(50%, 40px);
      @include make-flex($dir: row, $just: flex-start);
      gap: 16px;
      margin-top: 15px;

      @include respondAt(775px) {
        width: 60%;
      }
      @include respondAt(620px) {
        width: 80%;
      }
      @include respondAt(420px) {
        width: 100%;
        flex-wrap: wrap;
      }
    }
  }

  .ProjectSection {
    &__cards {
      @include box($height: unset);
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 220px;
      gap: 18px;

      @include respondAt(545px) {
        grid-template-columns: 1fr;
      }

      &:hover {
        & > .ProjectCardWrapper {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  .ToolsSection {
    @include box();
    @include make-flex($just: flex-start, $align: flex-start);
    gap: 16px;

    @include respondAt(505px) {
      gap: 20px;
    }
    &__top {
      width: 100%;
      @include make-flex($just: space-between, $dir: row);

      select {
        width: 25%;
        @include respondAt(595px) {
          width: 35%;
        }
        @include respondAt(505px) {
          width: 100%;
        }
      }
      @include respondAt(505px) {
        gap: 10px;
        flex-direction: column;
      }
    }
    &--title {
      color: var(--headingColor);
      @include box(auto, $height: 50px);
      @include make-flex($align: flex-start);
      background-color: var(--backgroundColor);
      @include respondAt(505px) {
        width: 100%;
      }
    }

    &__container {
      @include box($height: unset);
      // min-height: 242px;
      @include make-flex($just: flex-start, $align: flex-start, $dir: row);
      align-content: flex-start;
      flex-wrap: wrap;
      gap: 16px;
    }
  }
}
