.HeaderWrapper {
  @include box(100%, 70px);
  @include make-flex();
  position: fixed;
  top: 0;
  background: var(--headerBackground);
  backdrop-filter: var(--headerBlur);
  padding: 0 20px;
  z-index: 5;
  &__content {
    @include box();
    @include make-flex($just: space-between, $dir: row);
    max-width: 90ch;
    &--left {
      font-size: 20px;
      font-weight: 400;
    }
  }

  &__title {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &--brackets {
      color: var(--headerBrackets);
    }
    &--params {
      color: var(--headerParams);
    }
    &--arrow {
      font-weight: 400;
      font-family: "JetBrains Mono", monospace;
      font-variant-ligatures: common-ligatures;
      margin-right: 3px;
      color: var(--headerArrow);
    }
  }

  &__themeToggle {
    background: var(--backgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    border-style: solid;
    padding: 6px 10px;
    width: 60px;

    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    outline-offset: 5px;
  }
}
