.HeaderWrapper {
  @include box(100%, 84px);
  @include make-flex();
  position: sticky;
  top: 0;
  background: var(--headerBackground);
  backdrop-filter: blur(69px);
  padding: 0 20px;
  z-index: 5;
  &__content {
    @include box();
    @include make-flex($just: space-between, $dir: row);
    max-width: 90ch;
    &--left {
      font-size: 20px;
      font-weight: 400;
    }
  }

  &__title {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &--brackets {
      color: var(--headerBrackets);
    }
    &--params {
      color: var(--headerParams);
    }
    &--arrow {
      font-weight: 400;
      font-family: "JetBrains Mono", monospace;
      font-variant-ligatures: common-ligatures;
      margin-right: 3px;
      color: var(--headerArrow);
    }
  }
}
