[data-theme="dark"] {
  --lightGray: #1d1f22;
  --lightPurple: #adacff;
  --headerBackground: #2d30456b;
  --headerBrackets: #ff0000;
  --headerBlur: blur(5px);
  --headerParams: #e1944d;
  --headerArrow: #0affa2;
  --highlightColor: #494949;
  --borderColor: #9a9a9a;
  --headingColor: #ffffff;
  --backgroundColor: #111111;
  --baseTextColor: #f3f4f6;
  --scrollbarThumb: #d3d1cb;
  --scrollbarTrack: #2d3045;
  --textSelectionColor: #2daadb4d;
  --footerBackground: #292929;
  --downArrow: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  color-scheme: dark;
  --successColor: #3fb950;
  --dangerColor: #f85149;
  --headerShadow: inset 0 -1px 0 hsl(0deg 0% 100% / 10%);
}
