[data-theme="light"] {
  --lightGray: #f3f4f6;
  --lightPurple: #adacff;
  --lightViolet: #6741d9;
  --CardHover: #0004ff65;
  --headerBackground: #fdfdfd3a;
  --headerBrackets: #2532f5;
  --headerBlur: blur(20px);
  --headerParams: #e1944d;
  --headerArrow: #9fd2c3;
  --highlightColor: #e7e5e4;
  --borderColor: #d1d5db;
  --headingColor: #2d3045;
  --backgroundColor: #fdfdfd;
  --baseTextColor: #111111;
  --scrollbarThumb: #d3d1cb;
  --scrollbarTrack: #edece9;
  --textSelectionColor: #2daadb4d;
  --footerBackground: #f3f4f6;
  --downArrow: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  color-scheme: light;
  --successColor: #1a7f37;
  --dangerColor: #cf222e;
  --headerShadow: 0 2px 4px rgb(0 0 0 / 2%), inset 0 -1px 0 rgb(0 0 0 / 6%);
  --detailsHover: #f3f3f3;
  --detailsBorder: #e6e6e6;
  --detailsShortDesc: #919191;
}
