.ExpItemDetails {
  &__content {
    padding: 12px;
    @include box();
    @include make-flex();
    gap: 20px;

    &--links {
      @include box($height: auto);
      @include make-flex($dir: row, $just: flex-end);

      a {
        @include box(auto, 28px);
        font-size: 14px;
      }
    }
  }
}

.ExpItem {
  & > h4 {
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
  }

  & > hr {
    border-bottom: 1px solid hsl(0, 0%, 87%);
    border-top: none;
    border-left: none;
    border-right: none;
    flex-grow: 1;
    user-select: none;
  }

  & > span {
    user-select: none;
  }

  & > p {
    color: var(--detailsShortDesc);
    user-select: none;

    @include respondAt(715px) {
      display: none;
    }
  }

  &:hover {
    background-color: var(--detailsHover);
  }
}
