.ExpItem {
  padding: 12px;
  border-radius: 12px;
  @include box($height: auto);
  text-decoration: none;
  @include make-flex($dir: row);
  gap: 12px;
  transition: background-color 0.1s ease-in-out;

  & > h4 {
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & > hr {
    border-bottom: 1px solid hsl(0, 0%, 87%);
    border-top: none;
    border-left: none;
    border-right: none;
    flex-grow: 1;
  }

  & > p {
    color: hsl(0 0% 43.5%);
    @include respondAt(715px) {
      display: none;
    }
  }

  &:hover {
    background-color: hsl(0 0% 95.1%);
  }
}
