.FancyButton {
  outline: none;
  font-size: 15px;
  transition: background-color 0.2s ease-in-out;
  background: var(--backgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  border-style: solid;
  padding: 6px 10px;
  width: 95px;

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;
  @include make-flex($dir: row);
  gap: 7px;
}
