@import "../../styles/mixins";

.ToolTipWrapper {
  position: relative;
  background-color: #d1d1d1;
  border-radius: 5px;
  padding: 1px 6px;
  font-weight: 500;
  color: black;
  width: fit-content;
  text-decoration: none;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 0.1s;
  transition-timing-function: linear;

  &:hover {
    background-color: #adacff;
    color: white;
  }

  &__tooltip {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 5px;

    border: 1px solid #adacff;
    width: 260px;
    padding: 14px;
    height: 200px;
  }
}
